body{
    margin:4;
}
.fieldset1{

    text-align: center;
    display: flex;
    border: 2px groove;
    padding: 10px 5px;
}
.fieldset1 .legend{
    font-size:20px;
    position: relative;
    top: -23px;
    height: 20px;
    background-color: white;
    width: fit-content;
}
.box{
    height: 30px;
    border:none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid rgb(100, 184, 240);
}   
.box:focus-visible{
    outline:2px solid rgb(100, 184, 240);
}
.fieldset2{
    flex: 1;
    position: relative;
    border: 1px solid rgb(100, 184, 240);  
    width: 200px; 
    padding:10px 10px;
    transition: all 0.5s;
}
.fieldset2:hover{
    border: 5px solid rgb(100, 184, 240);
    border-radius: 60px;
}
.fieldset2 label{
    font-size: large;
    padding: 10px;
}
.buttons{
    flex: 3;
    display: table;
    position: relative;
}
.buttons .row{
    display:table-row;
}
.buttons .row .cell{
    display:table-cell;
    position:static;
}
.buttons .submit{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(123, 197, 247);
    border-style: none;
}
.submit:hover{
    background-color: rgb(100, 184, 240);
}
.submit:active{
    background-color: rgb(123, 197, 247) ;
    box-shadow: 5px 5px 4px rgb(84, 155, 202);
}
button:not(.submit, .black, .white){
    border-radius: 10px;
    width: 140px;
    height: 3em;
    border-style: none;
    color:white;

    transition: all 0.4s;
}
.red{
    background-color: rgb(255, 0, 0);
}
.red:hover{
    background-color: rgb(255, 31, 31);

}
.red:active{
    box-shadow: -7px -5px 9px rgb(200, 0, 0);
}
.red:disabled{
    box-shadow: none;
}
.blue{
    background-color: rgb(27, 27, 248);
    box-shadow: 5px 5px rgb(1, 1, 139);
}
.blue:hover{
    box-shadow: none;
}
.blue:active{
    box-shadow: -5px -5px 5px rgb(1, 1, 139);
}

.black{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    color:white;
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 4px rgb(40,40,40);
    transition: all 0.4s;
}
.black:hover{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.black:active{
    background-color: white;
    border-radius: 0;
    width: 0;
    height: 0;
    border: 100px solid transparent;
    border-top:0;
    border-bottom: 100px solid rgb(0, 0, 0);
    padding: -10px -20px;

}
.pink{
    background-color: rgb(206, 74, 188);
    box-shadow: 4px 4px rgb(236, 118, 221)
}
.pink:hover{
    border-radius: 0;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.pink:active{
    background-color: rgb(206, 74, 188);
}
.green{
    background-color: rgb(10, 187, 10);
    box-shadow: 4px 4px rgb(10,147,10);
}
.green:hover{
    background-color: inherit;
    background-image: linear-gradient(.35turn, rgb(10,187,10) 80%, white );
    box-shadow: none;
}
.green:active{
    box-shadow: 4px 4px 10px rgb(10,147,10);
}
.white{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(0.25turn,white , grey , white );
    color:black;
    border: 0.2px solid  black;  
    border-radius: 20px; 
}
.white:hover{
    background-image: linear-gradient(0.25turn,rgb(240, 240, 240) , rgb(190, 190, 190) , rgb(228, 228, 228) );
}
.white:active{
    background-image: linear-gradient(0.25turn,grey , white , grey );
}