body{
    align-self: center;
}
div{
    align-items: center;
    padding: 10% 40%;
   
}
#tabla{
    border: 20px;
    border-style: groove;
    text-align: center;
    background-color: #fffff0;
}
tr{
    border: 10px;
    border-style: inherit;
}
button{
    width: 50px;
    height: 30px;
}
#cal{
    width: 80px;
    display: inline;
}